body {
  font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}

#navMainHeading {
  display: inline;
  font-size: 4em;
}

#navContainer {
  position: relative;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  padding-bottom: 51px;
}

#navLinks {
  display: inline;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  font-size: 1.5em;
  padding-top: 64px;
}

#navLinks a {
  text-decoration: none;
}