/* for footer use ->
html,body {
  margin:0;
  padding:0;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navMainHeading {
  display: inline;
  font-size: 4em;
}

#navContainer {
  position: relative;
  width: 49%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 85px;
  padding-bottom: 51px;
  min-width: 555px;
}

#navLinks {
  display: inline;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  font-size: 1.5em;
  padding-top: 64px;
  width: 380px;
}

#navLinks a {
  text-decoration: none;
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}

#main {
  width: 49%;
  margin: 0 auto;
}

h2 {
  font-size: 2.5em;
  margin-top: 0;
  color: #1768AC;
}

img {
  float: left;
  padding-right: 25px;
  padding-bottom: 25px;
}

p {
  font-size: 1.4em;
  line-height: 1.3em;
}

h1 a {
  text-decoration: none;
}

/* unvisited link */
h1 a:link {
  color: #03256c;
}

/* visited link */
h1 a:visited {
  color: #03256c;
}

/* mouse over link */
h1 a:hover {
  color: #03256c;
}

/* selected link */
h1 a:active {
  color: #1768AC;
} 

#navLinks a:link {
  color: #03256c;
}

#navLinks a:visited {
  color: #03256c;
}

#navLinks a:hover {
  color: #1768AC;
}

#navLinks a:active {
  color: #1768AC;
} 